.Card{
    height: 200px;
    width: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
   background-color: bisque;
   box-shadow: 1px 1px 5px black;
   border-radius: 10px;
   margin: 5px;
}
.Card>p{
    font-size: 40px;
}

.Cardlist{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}